* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.general-wrap{

}
.main-title{
    width: 700px;
    text-align: center;
    padding: 15px 5px;
    margin: 10px auto;
    border-radius: 25px 10px 25px 10px;
    background-color: #5e5e5e;
    background-origin: padding-box;
    border: 0,7px solid #d6d6d6;
    color: #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 4px;
    text-shadow: .5px 0.5px 1.1px black;
}

